- name: Grant CONNECT on database
  become: true
  become_user: postgres
  community.postgresql.postgresql_privs:
    type: database
    database: "{{ pg_database }}"
    objs: "{{ pg_database }}"
    roles: "{{ pg_dev_user }}"
    privs: CONNECT
    state: present


- name: Grant USAGE on schema
  become: true
  become_user: postgres
  community.postgresql.postgresql_privs:
    type: schema
    database: "{{ pg_database }}"
    objs: "{{ pg_schema }}"
    roles: "{{ pg_dev_user }}"
    privs: USAGE
    state: present


- name: Grant table privileges on all existing tables
  become: true
  become_user: postgres
  community.postgresql.postgresql_privs:
    type: table
    database: "{{ pg_database }}"
    schema: "{{ pg_schema }}"
    objs: ALL_IN_SCHEMA
    roles: "{{ pg_dev_user }}"
    privs: "{{ pg_dev_privileges | join(',') }}"
    state: present
